aident-core/AiGumsPC/Service References/srvweb/NegocioService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65012/NegocioService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MainCore" />
  <xs:import schemaLocation="http://localhost:65012/NegocioService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LibreriaObjetos" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="tipoTestFoodToList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="tipoTestFoodToListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MainCore" minOccurs="0" name="tipoTestFoodToListResult" nillable="true" type="q1:ArrayOfN_TipoTestFood" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTipoTestFood">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MainCore" minOccurs="0" name="tff" nillable="true" type="q2:N_TipoTestFood" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTipoTestFoodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTipoTestFoodResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTestFood">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LibreriaObjetos" minOccurs="0" name="tf" nillable="true" type="q3:N_TestFood" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTestFoodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTestFoodResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="testFoodToList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="testFoodToListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LibreriaObjetos" minOccurs="0" name="testFoodToListResult" nillable="true" type="q4:ArrayOfN_TestFood" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTestFood">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTestFoodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTestFoodResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validaMPAT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="procedimiento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idTestFood" type="xs:int" />
        <xs:element minOccurs="0" name="ciclosMasticatorios" type="xs:int" />
        <xs:element minOccurs="0" name="ciclosValidacion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validaMPATResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="validaExperimento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoExperimento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idMpat" type="xs:int" />
        <xs:element minOccurs="0" name="numeroPacientes" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validaExperimentoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="mpatToList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="mpatToListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LibreriaObjetos" minOccurs="0" name="mpatToListResult" nillable="true" type="q5:ArrayOfN_Mpat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>