aident-core/AiGumsPC/Service References/srvweb/NegocioService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NegocioService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:65012/NegocioService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:65012/NegocioService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:65012/NegocioService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LibreriaObjetos" />
      <xsd:import schemaLocation="http://localhost:65012/NegocioService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INegocioService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="INegocioService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="INegocioService_login_InputMessage">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="INegocioService_login_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="INegocioService_procesoValidacionMPAT_InputMessage">
    <wsdl:part name="parameters" element="tns:procesoValidacionMPAT" />
  </wsdl:message>
  <wsdl:message name="INegocioService_procesoValidacionMPAT_OutputMessage">
    <wsdl:part name="parameters" element="tns:procesoValidacionMPATResponse" />
  </wsdl:message>
  <wsdl:portType name="INegocioService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/INegocioService/DoWork" message="tns:INegocioService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INegocioService/DoWorkResponse" message="tns:INegocioService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input wsaw:Action="http://tempuri.org/INegocioService/login" message="tns:INegocioService_login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INegocioService/loginResponse" message="tns:INegocioService_login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="procesoValidacionMPAT">
      <wsdl:input wsaw:Action="http://tempuri.org/INegocioService/procesoValidacionMPAT" message="tns:INegocioService_procesoValidacionMPAT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INegocioService/procesoValidacionMPATResponse" message="tns:INegocioService_procesoValidacionMPAT_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INegocioService" type="tns:INegocioService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/INegocioService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/INegocioService/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="procesoValidacionMPAT">
      <soap:operation soapAction="http://tempuri.org/INegocioService/procesoValidacionMPAT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NegocioService">
    <wsdl:port name="BasicHttpBinding_INegocioService" binding="tns:BasicHttpBinding_INegocioService">
      <soap:address location="http://localhost:65012/NegocioService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>