aident-core/AiGumsPC/Service References/srvweb/NegocioService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NegocioService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:65012/NegocioService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:65012/NegocioService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:65012/NegocioService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MainCore" />
      <xsd:import schemaLocation="http://localhost:65012/NegocioService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LibreriaObjetos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INegocioService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="INegocioService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="INegocioService_tipoTestFoodToList_InputMessage">
    <wsdl:part name="parameters" element="tns:tipoTestFoodToList" />
  </wsdl:message>
  <wsdl:message name="INegocioService_tipoTestFoodToList_OutputMessage">
    <wsdl:part name="parameters" element="tns:tipoTestFoodToListResponse" />
  </wsdl:message>
  <wsdl:message name="INegocioService_AddTipoTestFood_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTipoTestFood" />
  </wsdl:message>
  <wsdl:message name="INegocioService_AddTipoTestFood_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTipoTestFoodResponse" />
  </wsdl:message>
  <wsdl:message name="INegocioService_AddTestFood_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTestFood" />
  </wsdl:message>
  <wsdl:message name="INegocioService_AddTestFood_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTestFoodResponse" />
  </wsdl:message>
  <wsdl:message name="INegocioService_testFoodToList_InputMessage">
    <wsdl:part name="parameters" element="tns:testFoodToList" />
  </wsdl:message>
  <wsdl:message name="INegocioService_testFoodToList_OutputMessage">
    <wsdl:part name="parameters" element="tns:testFoodToListResponse" />
  </wsdl:message>
  <wsdl:message name="INegocioService_DeleteTestFood_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTestFood" />
  </wsdl:message>
  <wsdl:message name="INegocioService_DeleteTestFood_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTestFoodResponse" />
  </wsdl:message>
  <wsdl:message name="INegocioService_validaMPAT_InputMessage">
    <wsdl:part name="parameters" element="tns:validaMPAT" />
  </wsdl:message>
  <wsdl:message name="INegocioService_validaMPAT_OutputMessage">
    <wsdl:part name="parameters" element="tns:validaMPATResponse" />
  </wsdl:message>
  <wsdl:message name="INegocioService_validaExperimento_InputMessage">
    <wsdl:part name="parameters" element="tns:validaExperimento" />
  </wsdl:message>
  <wsdl:message name="INegocioService_validaExperimento_OutputMessage">
    <wsdl:part name="parameters" element="tns:validaExperimentoResponse" />
  </wsdl:message>
  <wsdl:message name="INegocioService_mpatToList_InputMessage">
    <wsdl:part name="parameters" element="tns:mpatToList" />
  </wsdl:message>
  <wsdl:message name="INegocioService_mpatToList_OutputMessage">
    <wsdl:part name="parameters" element="tns:mpatToListResponse" />
  </wsdl:message>
  <wsdl:portType name="INegocioService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/INegocioService/DoWork" message="tns:INegocioService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INegocioService/DoWorkResponse" message="tns:INegocioService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="tipoTestFoodToList">
      <wsdl:input wsaw:Action="http://tempuri.org/INegocioService/tipoTestFoodToList" message="tns:INegocioService_tipoTestFoodToList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INegocioService/tipoTestFoodToListResponse" message="tns:INegocioService_tipoTestFoodToList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTipoTestFood">
      <wsdl:input wsaw:Action="http://tempuri.org/INegocioService/AddTipoTestFood" message="tns:INegocioService_AddTipoTestFood_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INegocioService/AddTipoTestFoodResponse" message="tns:INegocioService_AddTipoTestFood_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTestFood">
      <wsdl:input wsaw:Action="http://tempuri.org/INegocioService/AddTestFood" message="tns:INegocioService_AddTestFood_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INegocioService/AddTestFoodResponse" message="tns:INegocioService_AddTestFood_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="testFoodToList">
      <wsdl:input wsaw:Action="http://tempuri.org/INegocioService/testFoodToList" message="tns:INegocioService_testFoodToList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INegocioService/testFoodToListResponse" message="tns:INegocioService_testFoodToList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTestFood">
      <wsdl:input wsaw:Action="http://tempuri.org/INegocioService/DeleteTestFood" message="tns:INegocioService_DeleteTestFood_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INegocioService/DeleteTestFoodResponse" message="tns:INegocioService_DeleteTestFood_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="validaMPAT">
      <wsdl:input wsaw:Action="http://tempuri.org/INegocioService/validaMPAT" message="tns:INegocioService_validaMPAT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INegocioService/validaMPATResponse" message="tns:INegocioService_validaMPAT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="validaExperimento">
      <wsdl:input wsaw:Action="http://tempuri.org/INegocioService/validaExperimento" message="tns:INegocioService_validaExperimento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INegocioService/validaExperimentoResponse" message="tns:INegocioService_validaExperimento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="mpatToList">
      <wsdl:input wsaw:Action="http://tempuri.org/INegocioService/mpatToList" message="tns:INegocioService_mpatToList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INegocioService/mpatToListResponse" message="tns:INegocioService_mpatToList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INegocioService" type="tns:INegocioService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/INegocioService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tipoTestFoodToList">
      <soap:operation soapAction="http://tempuri.org/INegocioService/tipoTestFoodToList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTipoTestFood">
      <soap:operation soapAction="http://tempuri.org/INegocioService/AddTipoTestFood" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTestFood">
      <soap:operation soapAction="http://tempuri.org/INegocioService/AddTestFood" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testFoodToList">
      <soap:operation soapAction="http://tempuri.org/INegocioService/testFoodToList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTestFood">
      <soap:operation soapAction="http://tempuri.org/INegocioService/DeleteTestFood" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validaMPAT">
      <soap:operation soapAction="http://tempuri.org/INegocioService/validaMPAT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validaExperimento">
      <soap:operation soapAction="http://tempuri.org/INegocioService/validaExperimento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mpatToList">
      <soap:operation soapAction="http://tempuri.org/INegocioService/mpatToList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NegocioService">
    <wsdl:port name="BasicHttpBinding_INegocioService" binding="tns:BasicHttpBinding_INegocioService">
      <soap:address location="http://localhost:65012/NegocioService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>