aident-core/AiGumsPC/Service References/srvweb/NegocioService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LibreriaObjetos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LibreriaObjetos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="N_TestFood">
    <xs:sequence>
      <xs:element minOccurs="0" name="caracteristicasMonitorizadas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="N_TestFood" nillable="true" type="tns:N_TestFood" />
  <xs:complexType name="ArrayOfN_TestFood">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="N_TestFood" nillable="true" type="tns:N_TestFood" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfN_TestFood" nillable="true" type="tns:ArrayOfN_TestFood" />
  <xs:complexType name="N_Mpat">
    <xs:sequence>
      <xs:element minOccurs="0" name="CiclosEvaluacion" type="xs:int" />
      <xs:element minOccurs="0" name="CiclosMasticatorios" type="xs:int" />
      <xs:element minOccurs="0" name="ListaProcedimientos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idEstado" type="xs:int" />
      <xs:element minOccurs="0" name="idTestFood" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="N_Mpat" nillable="true" type="tns:N_Mpat" />
  <xs:complexType name="N_Experimento">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoExperimento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idMpat" type="xs:int" />
      <xs:element minOccurs="0" name="idPaciente" type="xs:int" />
      <xs:element minOccurs="0" name="numeroPacientes" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="N_Experimento" nillable="true" type="tns:N_Experimento" />
  <xs:complexType name="ArrayOfN_Mpat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="N_Mpat" nillable="true" type="tns:N_Mpat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfN_Mpat" nillable="true" type="tns:ArrayOfN_Mpat" />
  <xs:complexType name="ArrayOfN_Experimento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="N_Experimento" nillable="true" type="tns:N_Experimento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfN_Experimento" nillable="true" type="tns:ArrayOfN_Experimento" />
</xs:schema>