aident-core/AiGumsPC/Service References/srvweb/NegocioService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LibreriaObjetos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LibreriaObjetos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="S_Mpat">
    <xs:sequence>
      <xs:element minOccurs="0" name="CiclosEvaluacion" nillable="true" type="tns:ArrayOfS_CiclosEvaluacion" />
      <xs:element minOccurs="0" name="DescripcionTestFood" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ListaProcedimientos" nillable="true" type="tns:ArrayOfS_Procedimiento" />
      <xs:element minOccurs="0" name="ciclosMasticatorios" type="xs:int" />
      <xs:element minOccurs="0" name="idEstado" type="xs:int" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="S_Mpat" nillable="true" type="tns:S_Mpat" />
  <xs:complexType name="ArrayOfS_CiclosEvaluacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="S_CiclosEvaluacion" nillable="true" type="tns:S_CiclosEvaluacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfS_CiclosEvaluacion" nillable="true" type="tns:ArrayOfS_CiclosEvaluacion" />
  <xs:complexType name="S_CiclosEvaluacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="idMpat" type="xs:int" />
      <xs:element minOccurs="0" name="numeroCiclos" type="xs:int" />
      <xs:element minOccurs="0" name="orden" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="S_CiclosEvaluacion" nillable="true" type="tns:S_CiclosEvaluacion" />
  <xs:complexType name="ArrayOfS_Procedimiento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="S_Procedimiento" nillable="true" type="tns:S_Procedimiento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfS_Procedimiento" nillable="true" type="tns:ArrayOfS_Procedimiento" />
  <xs:complexType name="S_Procedimiento">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idMpat" type="xs:int" />
      <xs:element minOccurs="0" name="orden" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="S_Procedimiento" nillable="true" type="tns:S_Procedimiento" />
</xs:schema>