aident-core/AiGumsPC/Service References/srvweb/NegocioService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NegocioService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:65012/NegocioService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:65012/NegocioService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:65012/NegocioService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MainCore" />
      <xsd:import schemaLocation="http://localhost:65012/NegocioService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LibreriaObjetos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INegocioService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="INegocioService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="INegocioService_TipoTestFoodToList_InputMessage">
    <wsdl:part name="parameters" element="tns:TipoTestFoodToList" />
  </wsdl:message>
  <wsdl:message name="INegocioService_TipoTestFoodToList_OutputMessage">
    <wsdl:part name="parameters" element="tns:TipoTestFoodToListResponse" />
  </wsdl:message>
  <wsdl:message name="INegocioService_AddTipoTestFood_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTipoTestFood" />
  </wsdl:message>
  <wsdl:message name="INegocioService_AddTipoTestFood_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTipoTestFoodResponse" />
  </wsdl:message>
  <wsdl:message name="INegocioService_AddTestFood_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTestFood" />
  </wsdl:message>
  <wsdl:message name="INegocioService_AddTestFood_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTestFoodResponse" />
  </wsdl:message>
  <wsdl:message name="INegocioService_TestFoodToList_InputMessage">
    <wsdl:part name="parameters" element="tns:TestFoodToList" />
  </wsdl:message>
  <wsdl:message name="INegocioService_TestFoodToList_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestFoodToListResponse" />
  </wsdl:message>
  <wsdl:message name="INegocioService_DeleteTestFood_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTestFood" />
  </wsdl:message>
  <wsdl:message name="INegocioService_DeleteTestFood_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTestFoodResponse" />
  </wsdl:message>
  <wsdl:message name="INegocioService_AddMPAT_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMPAT" />
  </wsdl:message>
  <wsdl:message name="INegocioService_AddMPAT_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMPATResponse" />
  </wsdl:message>
  <wsdl:message name="INegocioService_AddExperimento_InputMessage">
    <wsdl:part name="parameters" element="tns:AddExperimento" />
  </wsdl:message>
  <wsdl:message name="INegocioService_AddExperimento_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddExperimentoResponse" />
  </wsdl:message>
  <wsdl:message name="INegocioService_MpatToList_InputMessage">
    <wsdl:part name="parameters" element="tns:MpatToList" />
  </wsdl:message>
  <wsdl:message name="INegocioService_MpatToList_OutputMessage">
    <wsdl:part name="parameters" element="tns:MpatToListResponse" />
  </wsdl:message>
  <wsdl:message name="INegocioService_ExperimentoToList_InputMessage">
    <wsdl:part name="parameters" element="tns:ExperimentoToList" />
  </wsdl:message>
  <wsdl:message name="INegocioService_ExperimentoToList_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExperimentoToListResponse" />
  </wsdl:message>
  <wsdl:message name="INegocioService_AddProcedimiento_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProcedimiento" />
  </wsdl:message>
  <wsdl:message name="INegocioService_AddProcedimiento_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProcedimientoResponse" />
  </wsdl:message>
  <wsdl:message name="INegocioService_AddCiclosEvaluacion_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCiclosEvaluacion" />
  </wsdl:message>
  <wsdl:message name="INegocioService_AddCiclosEvaluacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCiclosEvaluacionResponse" />
  </wsdl:message>
  <wsdl:portType name="INegocioService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/INegocioService/DoWork" message="tns:INegocioService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INegocioService/DoWorkResponse" message="tns:INegocioService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TipoTestFoodToList">
      <wsdl:input wsaw:Action="http://tempuri.org/INegocioService/TipoTestFoodToList" message="tns:INegocioService_TipoTestFoodToList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INegocioService/TipoTestFoodToListResponse" message="tns:INegocioService_TipoTestFoodToList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTipoTestFood">
      <wsdl:input wsaw:Action="http://tempuri.org/INegocioService/AddTipoTestFood" message="tns:INegocioService_AddTipoTestFood_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INegocioService/AddTipoTestFoodResponse" message="tns:INegocioService_AddTipoTestFood_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTestFood">
      <wsdl:input wsaw:Action="http://tempuri.org/INegocioService/AddTestFood" message="tns:INegocioService_AddTestFood_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INegocioService/AddTestFoodResponse" message="tns:INegocioService_AddTestFood_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestFoodToList">
      <wsdl:input wsaw:Action="http://tempuri.org/INegocioService/TestFoodToList" message="tns:INegocioService_TestFoodToList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INegocioService/TestFoodToListResponse" message="tns:INegocioService_TestFoodToList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTestFood">
      <wsdl:input wsaw:Action="http://tempuri.org/INegocioService/DeleteTestFood" message="tns:INegocioService_DeleteTestFood_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INegocioService/DeleteTestFoodResponse" message="tns:INegocioService_DeleteTestFood_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMPAT">
      <wsdl:input wsaw:Action="http://tempuri.org/INegocioService/AddMPAT" message="tns:INegocioService_AddMPAT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INegocioService/AddMPATResponse" message="tns:INegocioService_AddMPAT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddExperimento">
      <wsdl:input wsaw:Action="http://tempuri.org/INegocioService/AddExperimento" message="tns:INegocioService_AddExperimento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INegocioService/AddExperimentoResponse" message="tns:INegocioService_AddExperimento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MpatToList">
      <wsdl:input wsaw:Action="http://tempuri.org/INegocioService/MpatToList" message="tns:INegocioService_MpatToList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INegocioService/MpatToListResponse" message="tns:INegocioService_MpatToList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExperimentoToList">
      <wsdl:input wsaw:Action="http://tempuri.org/INegocioService/ExperimentoToList" message="tns:INegocioService_ExperimentoToList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INegocioService/ExperimentoToListResponse" message="tns:INegocioService_ExperimentoToList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProcedimiento">
      <wsdl:input wsaw:Action="http://tempuri.org/INegocioService/AddProcedimiento" message="tns:INegocioService_AddProcedimiento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INegocioService/AddProcedimientoResponse" message="tns:INegocioService_AddProcedimiento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCiclosEvaluacion">
      <wsdl:input wsaw:Action="http://tempuri.org/INegocioService/AddCiclosEvaluacion" message="tns:INegocioService_AddCiclosEvaluacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INegocioService/AddCiclosEvaluacionResponse" message="tns:INegocioService_AddCiclosEvaluacion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INegocioService" type="tns:INegocioService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/INegocioService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TipoTestFoodToList">
      <soap:operation soapAction="http://tempuri.org/INegocioService/TipoTestFoodToList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTipoTestFood">
      <soap:operation soapAction="http://tempuri.org/INegocioService/AddTipoTestFood" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTestFood">
      <soap:operation soapAction="http://tempuri.org/INegocioService/AddTestFood" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestFoodToList">
      <soap:operation soapAction="http://tempuri.org/INegocioService/TestFoodToList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTestFood">
      <soap:operation soapAction="http://tempuri.org/INegocioService/DeleteTestFood" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMPAT">
      <soap:operation soapAction="http://tempuri.org/INegocioService/AddMPAT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddExperimento">
      <soap:operation soapAction="http://tempuri.org/INegocioService/AddExperimento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MpatToList">
      <soap:operation soapAction="http://tempuri.org/INegocioService/MpatToList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExperimentoToList">
      <soap:operation soapAction="http://tempuri.org/INegocioService/ExperimentoToList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProcedimiento">
      <soap:operation soapAction="http://tempuri.org/INegocioService/AddProcedimiento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCiclosEvaluacion">
      <soap:operation soapAction="http://tempuri.org/INegocioService/AddCiclosEvaluacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NegocioService">
    <wsdl:port name="BasicHttpBinding_INegocioService" binding="tns:BasicHttpBinding_INegocioService">
      <soap:address location="http://localhost:65012/NegocioService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>